* {
	background-color: #8D9277;
}

body {
	font-size: 14pt;
	font-weight: 500;
	line-height: 1.5;
	margin-right: 4px;
	margin-left: 6px;
}

h2 {
	font-size: 22pt;
}

h2 div {
	justify-content: space-between;
}

h2 p {
	font-size: 14pt;
}

img {
	border-radius: 45%;
	height: 250px;
	width: 200px;
}

nav {
	background-color: #CFEBDF;
}

section,
div {
	justify-content: space-between;
}

.bigContainer {
	display: flex;
}

.background {
	background-image: linear-gradient(#808080, rgb(255, 255, 255), #000);
	border-radius: 5px;
	height: 100px;
	width: 25vw;
}

.b-container {
	background-color: #808080;
	border: 1px #000000 solid;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	font-size: 14pt;
	margin: 20px 10px 10px 10px;
	text-align: center;
	width: 95vw;
}

@media (max-width: 800px) {
	.b-container {
		display: flex;
		flex-direction: column;
		font-size: 14pt;
		margin: 10px;
		width: 100vw;
	}
}

/* .container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-size: 14pt;
	justify-content: space-around;
	margin: 10px;
	padding: 0 0 20px 0;
	width: 100vw;
} */

.container>div {
	flex: 1 0 50%;
	box-shadow: 0 0 0 1px black;
	margin-bottom: 10px;
}

@media (max-width: 800px) {
	.container>div {
		display: flex;
		flex: 1 0 50%;
		flex-direction: column;
		font-size: 14pt;
		margin: 10px;
		box-shadow: 0 0 0 1px black;
	}
}

@media (max-width: 800px) {
	.container {
		display: flex;
		flex-direction: column;
		font-size: 14pt;
		margin: 10px;
		width: 100vw;
	}
}



.align {
	display: flex;
	justify-content: flex-start;
	margin: 0px 50px 0px 0px;
	text-align: start;
}

.rAlign {
	display: flex;
	border-left: 2px #000000;
	justify-content: center;
	margin: 0 0 0px 120px;
}

.deepBlue {
	color: #38636B;
}


.powderBlue {
	background-color: #CFEBDF;
}

/* Responsive layout based on viewing device size */

/* Application image size needs to be larger than others */